src/main/resources/wsdl/servicoIdentidade_SOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="servicoIdentidade" targetNamespace="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidadeEBM/V1_0/" xmlns:WL5G3N2="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/">
  <WL5G3N0:types>
    <xsd:schema xmlns:ebm="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidadeEBM/V1_0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidadeEBM/V1_0/" schemaLocation="../xsd/servicoIdentidade_SOAP.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="autenticarUsuarioRequest">
    <WL5G3N0:part element="WL5G3N1:autenticarUsuario" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="autenticarUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:autenticarUsuarioResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterGruposDeUsuarioRequest">
    <WL5G3N0:part element="WL5G3N1:obterGruposDeUsuario" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterGruposDeUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:obterGruposDeUsuarioResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterUsuarioRequest">
    <WL5G3N0:part element="WL5G3N1:obterUsuario" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:obterUsuarioResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="desbloquearUsuarioRequest">
    <WL5G3N0:part element="WL5G3N1:desbloquearUsuario" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="desbloquearUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:desbloquearUsuarioResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="resetarSenhaRequest">
    <WL5G3N0:part element="WL5G3N1:resetarSenha" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="resetarSenhaResponse">
    <WL5G3N0:part element="WL5G3N1:resetarSenhaResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarUsuario">
    <WL5G3N0:part element="WL5G3N1:ConsultarUsuario" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:ConsultarUsuarioResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ProvisionarUsuarioAutenticado">
    <WL5G3N0:part element="WL5G3N1:ProvisionarUsuarioAutenticado" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ProvisionarUsuarioAutenticadoResponse">
    <WL5G3N0:part element="WL5G3N1:ProvisionarUsuarioAutenticadoResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="autenticarConsultarUsuario">
    <WL5G3N0:part element="WL5G3N1:autenticarConsultarUsuario" name="in"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="autenticarConsultarUsuarioResponse">
    <WL5G3N0:part element="WL5G3N1:autenticarConsultarUsuarioResponse" name="out"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="servicoIdentidade">
    <WL5G3N0:operation name="autenticarUsuario">
      <WL5G3N0:input message="WL5G3N2:autenticarUsuarioRequest"/>
      <WL5G3N0:output message="WL5G3N2:autenticarUsuarioResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterGruposDeUsuario">
      <WL5G3N0:input message="WL5G3N2:obterGruposDeUsuarioRequest"/>
      <WL5G3N0:output message="WL5G3N2:obterGruposDeUsuarioResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="desbloquearUsuario">
      <WL5G3N0:input message="WL5G3N2:desbloquearUsuarioRequest"/>
      <WL5G3N0:output message="WL5G3N2:desbloquearUsuarioResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="resetarSenha">
      <WL5G3N0:input message="WL5G3N2:resetarSenhaRequest"/>
      <WL5G3N0:output message="WL5G3N2:resetarSenhaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarUsuario">
      <WL5G3N0:input message="WL5G3N2:ConsultarUsuario"/>
      <WL5G3N0:output message="WL5G3N2:ConsultarUsuarioResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="provisionarUsuarioAutenticado">
      <WL5G3N0:input message="WL5G3N2:ProvisionarUsuarioAutenticado"/>
      <WL5G3N0:output message="WL5G3N2:ProvisionarUsuarioAutenticadoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="autenticarConsultarUsuario">
      <WL5G3N0:input message="WL5G3N2:autenticarConsultarUsuario"/>
      <WL5G3N0:output message="WL5G3N2:autenticarConsultarUsuarioResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
</WL5G3N0:definitions>