src/main/resources/wsdl/servicoIdentidade_SOAP_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="servicoIdentidade" targetNamespace="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:import location="servicoIdentidade_SOAP.wsdl" namespace="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/"/>
  <WL5G3N0:binding name="servicoIdentidadeSOAP" type="WL5G3N1:servicoIdentidade">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="autenticarUsuario">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/autenticarUsuario"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterGruposDeUsuario">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/obterGruposDeUsuario"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarUsuario">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/consultarUsuario"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="resetarSenha">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/resetarSenha"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="desbloquearUsuario">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/desbloquearUsuario"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="provisionarUsuarioAutenticado">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/provisionarUsuarioAutenticado"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="autenticarConsultarUsuario">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/federacao/servicoIdentidade/V1_0/autenticarConsultarUsuario"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="servicoIdentidade">
    <WL5G3N0:port binding="WL5G3N1:servicoIdentidadeSOAP" name="servicoIdentidadeSOAP">
      <WL5G3N2:address location="http://pasoaprd1.cbd.root.gpa/federacao/servicoIdentidade_SOAP"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>