src/main/resources/wsdl/terceiro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="Terceiro" targetNamespace="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="MensagemRetorno">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoRetorno" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="descricaoRetorno" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Terceiro">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="rne" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nome" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="empresa" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="funcao" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="depto" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="centroCusto" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="bandeira" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="supervisorMatricula" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contratoDataInicio" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contratoDataFim" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListarTerceiroRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="paginaInicio" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="1" name="status" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaTerceiro">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="totalRegistros" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="terceiro" nillable="true" type="tns:Terceiro"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListarTerceiroResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="mensagemRetorno" nillable="true" type="tns:MensagemRetorno"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="listaTerceiro" nillable="true" type="tns:ListaTerceiro"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorCpfRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroCpf" type="xsd:string"/>
          <xsd:element minOccurs="1" name="status" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorCpfResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="mensagemRetorno" nillable="true" type="tns:MensagemRetorno"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="terceiro" nillable="true" type="tns:Terceiro"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorMatriculaRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroMatricula" type="xsd:string"/>
          <xsd:element minOccurs="1" name="status" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorMatriculaResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="mensagemRetorno" nillable="true" type="tns:MensagemRetorno"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="terceiro" nillable="true" type="tns:Terceiro"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorRneRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroRne" type="xsd:string"/>
          <xsd:element minOccurs="1" name="status" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObterTerceiroPorRneResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="mensagemRetorno" nillable="true" type="tns:MensagemRetorno"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="terceiro" nillable="true" type="tns:Terceiro"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listarTerceiroRequest" type="tns:ListarTerceiroRequest"/>
      <xsd:element name="listarTerceiroResponse" type="tns:ListarTerceiroResponse"/>
      <xsd:element name="obterTerceiroPorCpfRequest" type="tns:ObterTerceiroPorCpfRequest"/>
      <xsd:element name="obterTerceiroPorCpfResponse" type="tns:ObterTerceiroPorCpfResponse"/>
      <xsd:element name="obterTerceiroPorMatriculaRequest" type="tns:ObterTerceiroPorMatriculaRequest"/>
      <xsd:element name="obterTerceiroPorMatriculaResponse" type="tns:ObterTerceiroPorMatriculaResponse"/>
      <xsd:element name="obterTerceiroPorRneRequest" type="tns:ObterTerceiroPorRneRequest"/>
      <xsd:element name="obterTerceiroPorRneResponse" type="tns:ObterTerceiroPorRneResponse"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="listarTerceiroRequestMessage">
    <WL5G3N0:part element="WL5G3N1:listarTerceiroRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="listarTerceiroResponseMessage">
    <WL5G3N0:part element="WL5G3N1:listarTerceiroResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorCpfRequestMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorCpfRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorCpfResponseMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorCpfResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorMatriculaRequestMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorMatriculaRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorMatriculaResponseMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorMatriculaResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorRneRequestMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorRneRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obterTerceiroPorRneResponseMessage">
    <WL5G3N0:part element="WL5G3N1:obterTerceiroPorRneResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="TerceiroPortType">
    <WL5G3N0:operation name="listarTerceiro">
      <WL5G3N0:input message="WL5G3N1:listarTerceiroRequestMessage"/>
      <WL5G3N0:output message="WL5G3N1:listarTerceiroResponseMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorCpf">
      <WL5G3N0:input message="WL5G3N1:obterTerceiroPorCpfRequestMessage"/>
      <WL5G3N0:output message="WL5G3N1:obterTerceiroPorCpfResponseMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorMatricula">
      <WL5G3N0:input message="WL5G3N1:obterTerceiroPorMatriculaRequestMessage"/>
      <WL5G3N0:output message="WL5G3N1:obterTerceiroPorMatriculaResponseMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorRne">
      <WL5G3N0:input message="WL5G3N1:obterTerceiroPorRneRequestMessage"/>
      <WL5G3N0:output message="WL5G3N1:obterTerceiroPorRneResponseMessage"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="TerceiroBinding" type="WL5G3N1:TerceiroPortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="listarTerceiro">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/rhmais/Terceiro/listarTerceiro"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorCpf">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/rhmais/Terceiro/obterTerceiroPorCpf"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorMatricula">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/obterTerceiroPorMatricula"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obterTerceiroPorRne">
      <WL5G3N2:operation soapAction="http://servicos.gpanet.com.br/gpa/rhmais/terceiro/obterTerceiroPorRne"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="TerceiroService">
    <WL5G3N0:port binding="WL5G3N1:TerceiroBinding" name="TerceiroPortType">
      <WL5G3N2:address location="http://pasoaprd.cbd.root.gpa:80/gpanet/rhmais/ps/TerceiroPS"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>